<html>

<head>
    <title>Calculation</title>
</head>

<body>
    <h2>Calculation</h2>
    <input type="text" id="tripConsumption" value="{{ consumption }} L/100 ({{ trip_consumption }} x {{ petrol_price }} = {{ cost }})"><br><br>
    <button onclick="copy()">Copy</button>

    <script>
        function copy() {
            /* Get the text field */
            var copyText = document.getElementById("tripConsumption");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }
    </script>

</body>

</html>
