<html>

<head>
    <title>Calculation</title>
</head>

<table>
    <h1>Calculation</h1>
    <tr>
        <td><h3>Distance:</h3></td>
        <td><h3>&emsp;{{ distance }}</h3></td>
    </tr>
    <tr>
        <td><h3>Current consumption:</h3></td>
        <td><h3>&emsp;{{ current_consumption }}</h3></td>
    </tr>
    <tr>
        <td><h3>Cost:</h3></td>
        <td><h3>&emsp;{{ cost }}</h3></td>
    </tr>
    <tr>
        <td><h3>Petrol cost:</h3></td>
        <td><h3>&emsp;{{ petrol_cost }}</h3></td>
    </tr>
</table>

</html>
